@import "tailwindcss";

* {
    font-family: "Inter", sans-serif;
}

@theme {
    --color-background: #171717;
    --color-friends : #64F58D;
    --color-couples: #C94277;
    --color-box: #3D3D3D;
    --color-footer: #242424;
    --color-textColor: #FFFFFF;
}

body {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: var(--color-background);
    color: var(--color-textColor);
    height: 100vh;
    padding: 3rem;
}



footer {
    position: absolute;
    bottom: 0   ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 5%;
    height: 10%;
    width: 100%;
    background-color: var(--color-footer);
}


footer .social-box {
    display: flex; 
    gap: 3rem;
}

.social-box i {
    font-size: 1.5rem;
    opacity: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
}   

.social-box i:hover {
    color: var(--color-couples);
    opacity: 100%;
}

button {
    background-color: var(--color-box);
}